#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.quadrado {
    background-color: chartreuse;
    height: 200px;
    width: 200px;
    margin: 20px;
}

.quadrado2 {
    background-color: rgb(255, 81, 0);
    width: 200px;
    margin: 20px;
}